@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

.container {
  padding: 0;
  font-family: 'Roboto',sans-serif;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #3995ff;
  text-decoration: none;
}


.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: #fff;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}


.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

/* header */
.mainnav ul{
  display: flex;
  text-decoration: none;
  list-style: none;
  font-weight: bold;
  justify-content: center;
  width: 100%;
  /* position: fixed; */
  background-color: white;
  margin: 0;
  box-shadow: 1px 1px 20px #0000004b;
  z-index: 10;
}
.mainnav ul li{
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  margin: 2rem 30px 2rem 0;
}
.mainnav ul li:hover{
  color: #1A3AF4;
}
/* Header over */
.imgwrap{
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../public/codingimg.jpeg');  ;
  background-size: cover;
  padding: 30px 0;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blogs{
  width: 60%;
}
.blogcontainer{
  display:grid;
  grid-template-columns: 1fr 1fr;
}
.blogItem{
  /* border: 2px solid black; */
  border-radius: 5px;
  padding: 20px 20px;
  margin: 20px 20px 0 0;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.29);
}
.blogItem h3{
  font-weight: 400;
  font-size: 17px;
}
.blogItem p{
  margin: 20px 0;
  font-size: 14px;
  line-height: 1.3rem;
}
.blogItem button{
  padding: 10px 20px;
  background-color: #1A3AF4;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.blogItem button:hover{
  background-color: #132aaa;
}